__pycache__/
*.pkl
Plots*
Calculations0803/*
Calculations1703/*
Calculations2403/*
Detections*/*
Calculations/*
*.npy
ThresholdDecision*/Entropy/NetFlow/*.csv
ThresholdDecision*/Threshold/NetFlow/*.csv
ThresholdDecision*/Entropy/Telemetry/*.csv
ThresholdDecision*/Threshold/Telemetry/*.csv
