__pycache__/
*.pkl
Plots/Entropy/TopKFlowsTest/*
Plots/Kmeans/NetFlow/*
Plots/Kmeans/Telemetry/*
Plots/Entropy/WeeklyPatternTest/*
Plots/Threshold/*.png
Plots/TopKFlows/*
Calculations0803/*
Detections/*
Calculations/*
*.npy
